---
import ContentCard from './ContentCard.astro'
import { Card as ShadcnCard } from './ui/card'
import { SquareArrowOutUpRight } from 'lucide-react'

interface Props {
  id?: string
  title?: string
  body?: string
  colSpan?: string
  rowSpan?: string
  href?: string
  colorText?: string
}

const { id, title, body, colSpan, rowSpan, href, colorText } = Astro.props
const realId = id || crypto.getRandomValues(new Uint32Array(1))[0].toString()
---

<ShadcnCard
  id={realId}
  class={`card-animate transfor-y-[-40%] align-start perspective-1200 group group relative col-span-1 h-auto w-full flex-none transform justify-start overflow-hidden p-6 shadow-lg transition duration-75 ease-in-out ${
    colSpan || 'md:col-span-2'
  } ${rowSpan || ''} ${href ? 'cursor-pointer hover:border-primary' : ''}`}
>
  {
    href ? (
      <a
        href={href}
        target="_blank"
        rel="noreferrer noopener nofollow"
        class={`block h-full w-full ${colorText || ' '}`}
      >
        <SquareArrowOutUpRight
          class="position absolute right-6 group-hover:text-primary "
          size={20}
        />
        <ContentCard
          titleId={`title-${realId}`}
          contentId={`content-${realId}`}
          title={title}
          body={body}
        >
          <slot />
        </ContentCard>
      </a>
    ) : (
      <ContentCard
        titleId={`title-${realId}`}
        contentId={`content-${realId}`}
        title={title}
        body={body}
      >
        <slot />
      </ContentCard>
    )
  }
</ShadcnCard>
